<% content_for(:head) do %>
  <% browser_title = "Editing " + @camp.name + " - " + t(:browser_title_tag) %>
  <title><%= browser_title %></title>
<% end %>

<% if current_user && @camp.creator == current_user %>
  <%= render(
    partial: 'camps/form',
  ) %>
<% else %>
    <p class="alert">Only the original creator can edit this page.</p>
<% end %>