<% content_for(:head) do %>
    <% browser_title = t(:browser_title_tag) %>
    <title><%= browser_title %></title>
    <%= javascript_include_tag 'new_camp_map' %> 
<% end %>

<%= render(
  partial: 'camps/form',
) %>
