/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* line 61, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
header, .main_content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 .8em;
}

/* line 67, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
.delete_button, .submit_button, input[type=submit], .join_creation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
.delete_button, .submit_button, input[type=submit], .join_creation {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 83, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 86, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
* {
  outline: none;
}

/* line 90, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
html, body {
  min-height: 100vh;
}

/* line 93, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
html {
  color: #818181;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 101, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #000000;
  word-wrap: break-word;
  overflow-x: hidden;
}

/* line 109, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
body,
h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* line 120, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
li {
  display: block;
}

/* line 123, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
h1 {
  font-size: 18px;
}

/* line 126, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
h2 {
  font-size: 18px;
}

/* line 130, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  line-height: inherit;
}
/* line 136, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
a img {
  border: none;
}

/* line 139, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* line 145, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
hr {
  height: 1px;
  border: 0;
  background: #d5d1c9;
}

/* line 151, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
address {
  font-style: normal;
}

/* line 155, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
.notice {
  color: #697539;
  background: #dfefd7;
  padding: 10px;
  border: 1px solid #d6e8c4;
  border-radius: 5px;
}

/* line 163, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/global.css.scss */
.alert {
  color: #bb4c48;
  background: #f3dede;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #efd3d7;
  border-radius: 5px;
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.delete_button, .submit_button, input[type=submit], .join_creation {
  display: block;
  padding: 13px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
}
/* line 11, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.delete_button:active, .submit_button:active, input[type=submit]:active, .join_creation:active {
  background: #46914f;
}

/* line 16, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.delete_button {
  background: #a94442;
}

/* line 21, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.submit_button {
  color: #5baf65;
}

/* line 26, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
input,
textarea,
button {
  font-size: 1rem;
  color: #818181;
  font-family: 'source-sans-Pro', sans-serif;
}

/* line 33, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
button {
  cursor: pointer;
  color: #5baf65;
}

/* line 38, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
address {
  font-style: normal;
}

/* line 42, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

/* line 51, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
input[type=text],
input[type=search],
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
}

/* line 58, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

/* line 68, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
input[type=submit] {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

/* line 75, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
input[type=checkbox] {
  margin: 0;
  margin-right: 4px;
}

/* line 81, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.registration_guide_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 87, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/forms.css.scss */
.membership_id_info {
  margin-top: 15px;
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camps_list {
  clear: both;
  margin: 0 -10px;
}
/* line 5, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camps_list:before, .camps_list:after {
  content: "";
  line-height: 0;
  clear: both;
}

/* line 13, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
front-page-coverimage {
  width: 100%;
  height: 300px;
  background-image: url("/assets/terrasstrappa-92ce45149fe558c7f9ce398bcb7ab6a41a3f5a45f9bc46973edf3a2785d94388.jpg");
}

/* line 20, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.top_message {
  padding: 10px;
}

/* line 24, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.join_creation {
  color: #5baf65;
}

/* line 32, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.combo {
  margin-top: 10px;
}
/* line 35, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.combo:first-child {
  margin-top: 0;
}
/* line 39, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.combo label {
  margin-right: 5px;
}

/* line 44, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camp-back_to_camp_link {
  display: inline-block;
  margin-bottom: 20px;
}

/* line 49, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camp-image {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 40px;
}

/* line 56, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camp-upload_image_form {
  width: 30%;
  margin-top: 20px;
}

/* line 61, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camps.css.scss */
.camp-upload_image {
  margin-top: 20px;
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/devise.css.scss */
.sign_in,
.sign_up,
.passwords_new {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 8, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/devise.css.scss */
.sign_in h2,
.sign_up h2,
.passwords_new h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

/* line 14, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/devise.css.scss */
.field {
  margin-top: 10px;
}
/* line 17, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/devise.css.scss */
.field:first-child {
  margin-top: 0;
}

/* line 22, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/devise.css.scss */
.form_link {
  display: inline-block;
  margin-top: 5px;
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
header {
  padding-top: 10px;
}

/* line 6, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-container {
  display: flex;
  justify-content: space-between;
}
/* line 10, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-container a {
  margin-left: 15px;
  font-size: 18px;
}
/* line 14, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-container a:first-child {
  margin-left: 0;
}

/* line 20, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-heading {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 5px;
  font-family: "Helvetica";
  weight: bold;
}

/* line 28, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-sub-heading {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Helvetica";
}

/* line 35, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Helvetica";
}
@media (max-width: 991px) {
  /* line 35, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/header.css.scss */
  .header-nav {
    justify-content: flex-start;
  }
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.main_content {
  background: white;
  padding: 40px;
  color: black;
  margin-bottom: 80px;
}

/* line 9, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.top_menu {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 12, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.top_menu a {
  text-decoration: none;
}
/* line 14, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.top_menu a:hover {
  color: #f2e2bf;
}

/* line 21, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
body {
  background: #282828;
  color: #d7e6f4;
}

/* line 26, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.notice {
  margin-bottom: 20px;
  color: #697539;
  background: #dfefd7;
  padding: 10px;
  border: 1px solid #d6e8c4;
  border-radius: 5px;
}

/* line 35, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.alert {
  margin-bottom: 20px;
  color: #bb4c48;
  background: #f3dede;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #efd3d7;
  border-radius: 5px;
}

/* line 45, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.panel-default > .panel-heading {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* line 51, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.footer {
  padding-top: 20px;
  text-align: justify;
}

/* line 56, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/main.css.scss */
.footer_image_col {
  text-align: center;
}

/* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp_card {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 8, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp_card:hover {
  background: #d7e6f4;
}
@media (max-width: 600px) {
  /* line 1, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
  .camp_card {
    width: 100%;
  }
}
/* line 16, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp_card h1 {
  height: 19px;
  margin: 7px 0;
}
@media (max-width: 991px) {
  /* line 16, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
  .camp_card h1 {
    height: 38px;
  }
}
@media (max-width: 600px) {
  /* line 16, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
  .camp_card h1 {
    height: auto;
  }
}

/* line 30, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
p {
  padding-bottom: 1em;
}

/* line 37, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp_card-img {
  width: 100%;
  padding-bottom: 66%;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 46, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp_card-desc {
  display: block;
  height: 44px;
}
@media (max-width: 991px) {
  /* line 46, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
  .camp_card-desc {
    height: 66px;
  }
}
@media (max-width: 600px) {
  /* line 46, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
  .camp_card-desc {
    height: auto;
  }
}

/* line 59, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.carousel-inner {
  width: 100%;
  height: 400px;
}

/* line 64, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.carousel-caption {
  max-width: 400px;
  text-align: center;
  top: 270px;
}

/* line 70, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.camp-description {
  margin-top: 10px;
}

/* line 74, /Users/aerugo/gitrepos/firestarter/app/assets/stylesheets/camp_card.css.scss */
.delete-button {
  background: white;
  color: red;
  padding-top: 40px;
}
