#map {
  width: 100%;
  height: 500px;
}

.camp-index {
	width: 100%;
}

.description {
	width: 65%;
	display: inline-block;
	vertical-align: top;
}

.labels {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}