.camps_list {
  padding-top: 20px;

  clear: both;
  margin: 0 -10px;

  &:before,
  &:after {
    content: "";
    line-height: 0;
    clear: both;
  }
}

.top_message {
  padding: 10px;
}

.join_creation {
  @extend %button;
  color: $c-green;
}

.new_creation {
}

.combo {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  label {
    margin-right: 5px;
  }
}

.camp-back_to_camp_link {
  display: inline-block;
  margin-bottom: 20px;
}

.camp-image {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 40px;
}

.thumbnail {
  position: relative;
  width: 30%;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  clip-path: inset(10px 20px 30px 40px);
  margin: 0px;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.camp-upload_image_form {
  width: 30%;
  margin-top: 20px;
}

.camp-upload_image {
  margin-top: 20px;
}

div label input {
   margin-right:100px;
}

.granting-label {
    display:block;
    text-align: left;
    margin-top: 10px;
}

.creation-info {
  padding-top: 10px;
}

body {
    font-family:sans-serif;
}




