.sign_in,
.sign_up,
.passwords_new {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.field {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.form_link {
  display: inline-block;
  margin-top: 5px;
}

.hidden {
  display: none;
}