header {
  @extend %holder;
  padding-top: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;

  a {
    margin-left: 15px;
    font-size: 18px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.header-heading {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 5px;
  font-family: "Rock Salt";
  weight: regular;
}

.header-sub-heading {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Rock Salt";
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Rock Salt";

  @media (max-width: 991px) {
    justify-content: flex-start;
  }
}