.header-heading {
  display: inline-block;
  font-size: 42px;
  font-family: 'Dosis', sans-serif;
  weight: bold;
}

.header-sub-heading {
  display: inline-block;
  font-size: 32px;
  font-family: 'Dosis', sans-serif;
  weight: bold;
  padding-bottom: 10px;
}