.main_content {
  @extend %holder;
  padding: 20px;
  color: rgb(0,0,0);
  width: 100%;
  margin-bottom: 40px;
}

body {
  background: white;
  color: rgb(215,230,244)
}

.notice {
  margin-bottom: 20px;
  color: rgb(105, 117, 57);
  background: rgb(223, 239, 215);
  padding: 10px;
  border: 1px solid rgb(214, 232, 196);
  border-radius: 5px;
}

.alert {
  margin-bottom: 20px;
  color: rgb(187, 76, 72);
  background: rgb(243, 222, 222);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(239, 211, 215);
  border-radius: 5px;
}

.panel-default > .panel-heading {
  background-color: white;
  color: black;
  font-weight: bold;
}

.footer {
  padding-top: 20px;
  text-align: justify;
}

.footer_image_col {
  text-align: center;
}