.coverphoto {
  @extend %holder;
  padding: 10px;
  margin: 0px;
  color: rgb(0, 213, 255);
  width: 100%;
  height: 90px;
  max-width: none;
}

.header-top-menu {
  display: inline-block;
  font-size: 52px;
  font-family: 'Dosis', sans-serif;
  weight: bold;
}

.coverphoto-panel {
  background-color: rgba(255,255,255,0.4);
}

.top_menu {
  padding-top: 0px;
  a {
    color: rgb(0,0,0);
    text-decoration: none;
    &:hover { 
        color: rgb(250, 176, 11);
      }
  }

}

.header-nav {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  a {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 500;
  }
}